extends ../layout.pug
block title
  title
    | index
block scripts-head
  link(rel="stylesheet" href="/css/index.min.css")
block content
  include ../components/header
  //.cookies-data(data-text='#{i18n.cookies.text}' data-link-text='#{i18n.cookies.link_text}' data-url='#{i18n.cookies.url}')

  h2
    | #{i18n.meta.titulo}

  .owl-carousel
    .item
      img(src="/media/img/emociones.jpg")
    .item
      img(src="/media/img/mychoice.jpg")
    .item
      img(src="/media/img/valiente.jpg")
