/* ======================================================================
	Layout
======================================================================== */
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

%fix {
    &:after {
        clear: both;
        content: "";
        display: table;
    }

    &:before {
        content: "";
        display: table;
    }
}

body {
    background-color: $bg-body;
    color: $colot-text;
    font-family: $font-family-regular;
    font-weight: 400;
    @include rem(font-size, $font-size-base);
}

.content {
    @extend %clearfix;
    margin: 0 auto;
    max-width: $content-width;
    position: relative;
    padding: 0 15px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0 auto;
    text-align: center;
    padding: 60px;
}

a {
    font-family: $font-family-medium;
    text-decoration: none;
    color: $colot-text;
}

button {
    background-color: $bg-button;
    border: 0;
    border-radius: 5px;
    padding: 15px;
    position: relative;
  	left: 50%;
  	transform: translateX(-50%);
    @include rem(font-size, $font-size-button);
}
