/* ======================================================================
	Home
======================================================================== */
.tira-de-imagenes{
  .item img{
    max-width: 33%;
    float: left;
    min-width: 33%;
    max-height: 495px;
    height: 100%;
    }
}
