include includers/head.pug
body(data-language!=lang)
	include includers/components/header.pug
	h2
		| #{i18n.general.gracias}

		.owl-carousel
			.item
				img(src="media/img/gsutarme.jpg")
			.item
				img(src="media/img/sexodebil.jpeg")
			.item
				img(src="media/img/machismo.jpg")

include includers/components/footer.pug
