include includers/head.pug
body(data-language!=lang)
	include includers/components/header.pug
	//.cookies-data(data-text='#{i18n.cookies.text}' data-link-text='#{i18n.cookies.link_text}' data-url='#{i18n.cookies.url}')

	h2
		| #{i18n.meta.titulo}

	.tira-de-imagenes
		.item
			img(src="media/img/emociones.jpg")
		.item
			img(src="media/img/mychoice.jpg")
		.item
			img(src="media/img/valiente.jpg")

include includers/components/footer.pug
