doctype html
html
  head
    block title
    include ./includers/head
    block scripts-head
  body(data-language!=lang)
    main
      block content
    include components/footer
    block scripts-footer
